.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#barra{
  background-color: rgba(31, 53, 65, 1);
  position: absolute;
  width: 1536px;
  height: 70px;
  left: 0px;
  top: 0px;

}

#texto1{
  background-color: rgba(31, 53, 65, 1);
  left: 30px;
  top: 30px;
}

.caixa{
  left: 200px;
  top: 20px
}

#sair{
  left: 1400px;
  top: -30px;
}

.footer{
  position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: rgba(31, 53, 65, 1);

}