.create-form-container {
    min-height: calc(100vh - 11rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
} 

.form-cadastro-container {
    width: 100%;
    min-height: calc(100vh - 19rem);
    max-width: 1059px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cadastro-container h1 {
    color: #5289B5;
    font-size: 3rem;
    font-weight: 700;
    top: 150px;
    left: 170px;
}

.form-cadastro-container h2 {
    color: #5289B5;
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-cadastro-container .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto 0;
}


.form-cadastro-container button:hover {
    filter: brightness(0.9);
}
