#card{
    background-color: #5289B5;
    color: rgba(31, 53, 65, 1);
    display: flex;
    align-items: center;
    width: 22%;
    height: 289px;
    border-radius: 15px;
}

#texto{
    font-family: 'Monsterrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
}