.form-cards-container h1{
    color: #5289B5;
    font-size: 3rem;
    font-weight: 700;
    top: 150px;
    left: 170px;
}

.form-cards-container h2 {
    color: #5289B5;
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.form-cards-container{
    width: 100%;
    min-height: calc(100vh - 19rem);
    max-width: 1059px;
    padding: 2rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;

    border-radius: 4px;
}


