#body {
    text-align: center;
    align-items: center;
}

#logo {
    width: 150px;
    margin-top: 50px;
    
}

#search_title{
    color: #5289B5;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

#pesquisar {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
