.header {
    height: 5rem;
    width: 100%;
    background-color: rgba(31, 53, 65, 1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3rem;
}

.header > div {
    height: 100%;
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2rem;
}

.header > div a {
    color: #FFFFFF;
    width: 9rem;
}

.header div a:hover {
    background-color: #5289B5;
}

.header button {
    background-color: transparent;
    border: 0;
    outline: none !important;
    color: #F6F6F6;
    font-size: 1rem;
    margin-left: auto;
    flex-direction: row;
    
}

label[for="bt_menu"]{
    margin-left: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }  

  #bt_menu{
    display: none;
  }

  label[for="bt_menu"]{
    display: none;
  } 

  .div-media {
    display: none !important;
    margin-left: 0 !important;
  }

  .div-media ul {
    list-style: none;
    position: relative;
    padding: 0;
  }

  .div-media ul li {
    
    text-align: center;
    
  }
  .div-media a{
      padding: 16px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: rgba(31, 53, 65, 1);
      border-bottom: solid 1px #eee;
  }


@media(max-width: 880px){
    label[for="bt_menu"]{
        display: block;
      }

    #bt_menu:checked ~ .div-media{
      margin-top: 44px;
    }

    .div-media{
      display: block !important;
      transition: all 0.4s;
      margin-top: -500%;
    }
    
    .MuiBottomNavigation-root{
          display: none !important;
    }

    .header {
        max-height: 250px !important;
        width: 100%;
        background-color: rgba(31, 53, 65, 1);
        display: flex; 
       
    }
    .header button {
      display: none;
    }

  

}